<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.seu.mapper.AntiCovidPolicyMapper">
    <insert id="addANTI_CovidPolicy"  parameterType="com.example.seu.entity.AntiCovidPolicy">
           insert into mydata.anti_covid_policy(province_id,city_id,policy_in,policy_out) VALUES (#{provinceId},#{cityId},#{policyIn},#{policyOut})

    </insert>
    <delete id="deleteANTI_CovidPolicy" parameterType="com.example.seu.entity.AntiCovidPolicy">
        delete from mydata.anti_covid_policy  where id=#{id}
    </delete>
    <select id="getAntiCovidPolicy" resultType="com.example.seu.entity.AntiCovidPolicy">
        select * from mydata.anti_covid_policy where  city_id =#{cityId}
    </select>


</mapper>
