<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.seu.mapper.AntiCovidPolicyMapper">
    <insert id="addANTI_CovidPolicy"  parameterType="com.example.seu.entity.AntiCovidPolicy">
           insert into mydata.anti_covid_policy(province_id,city_id,policy) VALUES (#{provinceId},#{cityId},#{policy})

    </insert>
    <delete id="deleteANTI_CovidPolicy" parameterType="com.example.seu.entity.AntiCovidPolicy">
        delete from mydata.anti_covid_policy  where id=#{id}
    </delete>
    <select id="getAntiCovidPolicy" resultType="java.lang.String">
        select policy from mydata.anti_covid_policy where  province_id=#{provinceId} and city_id =#{cityId}
    </select>


</mapper>
