<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.seu.mapper.AreaIdMapper">

    <insert id="addArea" parameterType="com.example.seu.entity.AreaId">
        insert into mydata.area_id(area_id,area) values (#{areaId},#{area})
    </insert>
    <insert id="deleteArea" parameterType="java.lang.Integer">
        delete from mydata.area_id where area_id=#{id}
    </insert>
    <select id="selectAreaIdByArea" resultType="java.lang.Integer"  parameterType="java.lang.String">
        select area_id  from mydata.area_id where area= #{area}
    </select>
    <select id="selectAreaByAreaId" resultType="java.lang.String">
        select area from mydata.area_id where  area_id=#{id}
    </select>
</mapper>
