<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.seu.mapper.CovidDetectionPointMapper">

    <insert id="addCovidDetectionPoint" parameterType="com.example.seu.entity.CovidDetectionPoint">
        insert into mydata.covid_detection_point(province_id,city_id,detail) values(#{provinceId},#{cityId},#{detail})
    </insert>
    <delete id="deleteCovidDetectionPoint">
        delete from mydata.covid_detection_point where id=#{id}
    </delete>
    <select id="getAll" resultType="com.example.seu.entity.CovidDetectionPoint">
        select * from mydata.covid_detection_point
    </select>
    <select id="getAllByProvinceId" resultType="com.example.seu.entity.CovidDetectionPoint">
        select * from mydata.covid_detection_point where province_id=#{proviceId}
    </select>
    <select id="getAllByCityId" resultType="com.example.seu.entity.CovidDetectionPoint">
        select * from mydata.covid_detection_point where  city_id=#{cityId}
    </select>
</mapper>
