<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.seu.mapper.EpidemicDataMapper">
    <insert id="addEpidemicData" parameterType="com.example.seu.entity.EpidemicData">
        insert into mydata.epidemic_data(province_id,city_id,confirm,asymptomatic,death,cured,confirm_increase,asymptomatic,time,risk_area_number)
        values(#{provinceId},#{cityId},#{confirm},#{asymptomatic},#{death},#{cured},#{confirmIncrease},#{asymptomaticIncrease},#{time},#{riskAreaNumber})
    </insert>
    <delete id="deleteEpidemicData">
        delete from mydata.epidemic_data where id=#{id}
    </delete>
    <select id="queryAll" resultType="com.example.seu.entity.EpidemicData">
        select * from mydata.epidemic_data
    </select>
    <select id="queryAllByProvinceId" resultType="com.example.seu.entity.EpidemicData">
        select * from mydata.epidemic_data where province_id=#{provinceId} and city_id = province_id
    </select>

    <select id="queryChinaEpidemicData" resultType="com.example.seu.entity.EpidemicData">
        select *from mydata.epidemic_data where city_id = province_id and time = #{date}
    </select>
    <select id="queryProvinceEpidemicData" resultType="com.example.seu.entity.EpidemicData">
        select *from mydata.epidemic_data where province_id=#{provinceId} and time = #{date}
    </select>
    <select id="queryByCityId" resultType="com.example.seu.entity.EpidemicData">
        select * from mydata.epidemic_data where city_id=#{cityId} and time = #{date}
    </select>

</mapper>
