<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.seu.mapper.EpidemicDataPrMapper">
    <insert id="add">
        insert into mydata.epidemic_data_pr(province_id, city_id, confirm_pr, asymptomatic_pr, death_pr, cured_pr,
                                            asymptomatic_increase_pr, time_pr)
            value (#{provinceId}, #{cityId},
                   #{confirmPr}, #{asymptomaticPr},
                   #{deathPr}, #{curedPr},
                   #{asymptomaticIncreasePr},
                   #{timePr})

    </insert>
    <delete id="deleteById">
        delete
        from mydata.epidemic_data_pr
        where id = #{id}
    </delete>

</mapper>
