<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.seu.mapper.PopulationOutMapper">
    <insert id="add">
    insert into mydata.population_out(province_id, city_id, population_out, time) VALUES(#{provinceId},#{cityId},#{populationOut})
</insert>
    <delete id="deleteById">
        delete from mydata.population_out where city_id=#{cityId}
    </delete>
</mapper>
