<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.seu.mapper.RiskScoreMapper">

    <resultMap id="BaseResultMap" type="com.example.seu.entity.RiskScore">
            <id property="cityId" column="city_id" jdbcType="INTEGER"/>
            <result property="sum" column="sum" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        city_id,sum
    </sql>
    <select id="getScoreByCityId" resultType="java.lang.Double">
        select sum from mydata.risk_score where city_id=#{cityId}
    </select>
</mapper>
