<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.seu.mapper.SystemLogMapper">

    <resultMap id="BaseResultMap" type="com.example.seu.entity.SystemLog">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="operate" column="operate" jdbcType="VARCHAR"/>
            <result property="module" column="module" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="DATE"/>
            <result property="result" column="result" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,operate,module,
        create_time,result
    </sql>
    <insert id="insertSystemLog">
        insert into mydata.system_log( operate, module, create_time, result,request) values(#{operate},#{module},#{createTime},#{result},#{request})
    </insert>
    <select id="selectSystemLogById" resultType="com.example.seu.entity.SystemLog">
        select * from mydata.system_log where id=#{id}
    </select>
    <select id="selectSystemLog" resultType="com.example.seu.entity.SystemLog">
        select * from mydata.system_log
    </select>
</mapper>
